
body{
    margin: 0;
    padding: 0;
    font-family: poppins;
}

*{
    line-height: normal;
    box-sizing: border-box;
}

#main{
    padding-top: 50px;
    background-color: #ffffff;
}

.showcase-box{
    width: 430px;
    height: 280px;
    box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    margin: 0px 20px 30px 20px;
    overflow: hidden;
    position: relative;
}

.showcase-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.ongoing-title{
    position: absolute;
    bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    left: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
    /* top: 0px; */
    width: 100%;
    z-index: 10;
}

.showcase-heading{
    padding-left: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1rem;
    color: #1a1a1a;
}

.overflow-visible{
    overflow: visible !important;
}

/* #latest{
    border-top: 1px solid rgba(53, 53, 53, 0.1);
} */

.view-more-content{
    border-top: 1px solid rgba(53, 53, 53, 0.1);
    border-bottom: 1px solid rgba(53, 53, 53, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.latest-heading{
    margin: 10px 20px 10px 30px;
    font-weight: 500;
    font-size: 1.3rem;
}

.view-more{
    margin: 10px 20px 10px 30px;
    color: black;
    border: none;
    cursor: pointer;
    transition: color 0.4s ease;
    background-color: white;
    /* transition: text-decoration 0.3s ease-in-out; */
    /* padding: 5px; */
    /* font-weight: bold; */
}

.view-more:hover{
    color: red;
}

.latest-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    margin: 20px 10px;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    background-color: #ffffff;
}

.latest-b-img{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 230px;
    overflow: hidden;
}

.latest-b-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.latest-b-img img:hover{
    transform: scale(1.1);
    /* filter: brightness(60%); */
}
  
.sub-dub {
    position: absolute;
    bottom: 0px ;
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    padding-top: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.sub{
    padding: 5px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
}

.dub{
    padding: 5px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
}

.latest-b-text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin: 10px; */
    padding: 10px;
    height: 80px;
}

.latest-b-text strong{
    color: #3a3a3a;
    height: 36px;
    margin: 0px;
    transition: color 0.5s ease, text-shadow 0.3s ease;
}

.latest-b-text strong:hover{
    color: red;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

}

.latest-b-text p{
    color: #979797;
    margin: 0px;
}

@media(max-width:680px){

    .showcase-heading{
        padding-left: 10px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 1rem;
        color: #1a1a1a;
    }

    .showcase-box{
        max-width: 300px;
        height: 200px;
        margin: 10px;
    }

    .latest-box{
        width: 180px;
        margin: 20px 5px;
    }

    .latest-b-img{
        height: 200px;
    }

    .latest-b-text strong{
        color: #3a3a3a;
        height: 40px;
        font-size: 0.8em;
        margin: 0px;
    }
    
    .latest-b-text p{
        color: #979797;
        padding-top: 8px;
        font-size: 0.8em;
        margin: 0px;
    }
}



@media(max-width:440px){
    .showcase-box{
        max-width: 280px;
        height: 200px;
        margin: 10px;
    }

    .latest-heading{
        margin: 10px 0px 10px 5px;
        font-weight: 500;
        font-size: 1rem;
    }

    .view-more{
        margin: 10px 5px 10px 0px;
    }
    
    .latest-box{
        width: 150px;
        margin: 20px 5px;
    }

    .latest-b-img{
        height: 180px;
    }
}